html {
  font-family: Helvetica;
 }

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  color: #4A4A4A;
 }

a {
  color: #4A4A4A;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 42px;
  padding: 32px 0px;
  text-align: center;
  background-color: #EAEBEC;
  margin: 0px;
}

h2 {
  margin: 0;
}

p {
  line-height: 1.6;
  color: #4A4A4A;
}

video {
  max-width: 100%;
  max-height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
/* Header */
  
header {
  position: fixed;
  position: sticky;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 2;
  height: 64px;
}
  
header .content {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 64px;
}
  
header .logo {
  flex: 1;
  font-size: 28px; 
}
  
header nav ul {
  display: flex;
}
  
nav li {
  padding-left: 16px;
}
  
nav a {
  vertical-align: bottom;
  line-height: 1.6;
  color: #4a4a4a;
  font-size: 20px;
}

ol, ul {
list-style: none;
}

@media only screen and (min-width: 601px) {
  .content li img {
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .content a {
    display: none;
    width: 100%;
  }

  .content img {
    height: 35px;
  }
}

/* Join section*/

#main {
  display: flex;
  top: 64px;
  background-color: #D8D8D8;
  width: 100%;
  align-items: center;
}
  
.main-left {
  width: 60%;
}

#main .image-container  {
  padding: 32px 24px 32px 24px;
}

.header {
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.header .title {
  font-weight: bold;
  font-size: 50px;
}

.header .lorem {
  font-size: 24px;
}

.header .button {
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 8px 0 8px 0;
}

h1.title {
  text-align: left;
  background-color: transparent;
  padding: 0;
}

h2.lorem {
  padding: 24px 0;
}

@media only screen and (max-width: 600px) {
  #main {
    display: flex;
    flex-direction: column;
  }
  #main .image-container {
    width: 100%;
    padding: 0;
  }
  .main-left {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header {
    width: 100%;
    padding: 0;
  }
  .header .title {
    font-size: 36px;
    padding: 16px 32px;
  }
  h2.lorem {
    padding: 16px 32px;
  }
   .header .button {
    margin: 12px 90px;
    padding: 16px 0;
    color: white;
    background-color: #9B9B9B;
  }
  .
}

/* Info section*/

#info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.quote-container {
  width: 60%;
  border-right: 3px #CDCDCD;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #c6c1c1;
}

.quote-container .image-container {
  padding: 32px 24px;
}

.bottom {
  padding: 0 24px 32px 24px;
}

.bottom h1 {
  text-align: left;
  background: white;
  padding: 0;
}

p.author {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

p.top {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
 }

p.bottom {
  color: #A2A4A4;
}

/*right side of INFO section*/

.info-list {
  display: flex;
  flex-direction: column;
  width: 39%;
  padding-top: 18px;
  border-left: 1px #4A4A4A;
  justify-content: flex-start;
}

.info-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px 0 0px;
}

.info-orientation {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #c6c1c1;
}

.info-campus {
  display: flex;
  justify-content: flex-start;
  border-top: solid 1px #c6c1c1;
}

.info-guest {
  display: flex;
  justify-content: flex-start;
  background-color: #c6c1c1;
}

.orientation-img {
  width: 35%;
  padding: 16px;
}

.info-content a  {
  color: blue;
}
@media only screen and (min-width: 601px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .quote-container {
    display: none;
  }
  .info-list {
    width: 100%;
    background-color: #F3F5F5;
  }
  .info-orientation, .info-campus, .info-guest {
    flex-direction: column;
  }
  .orientation-img .desktop {
    display: none;
  }
  .orientation-img {
    width: 100%
  }
  .info-content {
    padding: 0 32px 32px;
  }
}

 /*Courses section*/

#course {
  width: 100%;
  background-color: #EAEBEC;
}

#course h2  {
  text-align: center;
  font-weight: 900;
}

.all-course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start ;
  padding: 0 60px 32px 60px;
}

.course-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 12px 24px 12px;
  width: 30%;
}

.course-content {
  padding: 16px 16px 24px 16px;
  text-align: left;
}

p.middle {
  margin: 0;
  padding: 8px 0px;
}

p.bottom {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  .all-course-container {
    flex-direction: column;
    padding: 0;
  }
  .course-container img, .middle, .bottom  {
    display: none;
  }
  .course-container {
    width: 100%;
    background-color: #D8D8D8;
  }
  h1 {
    border-top: 1px #4A4A4A;
  }
}


/*VIDEO SECTION*/

h1.thesis {
  background-color: #F3F5F5;
}

#video {
  background-color: #F3F5F5;
  display: flex;
  flex-direction: row;
}

.video-left {
  width: 60%;
  margin-left: 24px;  
}

.top-container {
  width: 100%;
  padding-bottom: 24px;
}

.video-info-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 24px;
}

.info-fisma {
  display: flex;
  justify-content: flex-start;
  background-color: #D8D8D8;
}

.info-ny {
  display: flex;
  justify-content: flex-start;
}

p.quote {
  padding-top: 8px;
}

.bottom {
  padding-bottom: 16px;
}

@media only screen and (max-width: 600px) {
  #video {
    flex-direction: column;
  }
  .video-left {
    width: 100%;
  }
  .video-info-list {
    display: none;
  }
  }

/*FOOTER*/

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #c6c1c1;
  height: 100px;
  background-color: #F3F5F5;
}

.footer-content p {
  padding-left: 24px;  
}

.footer-links {
  padding-right: 24px;
  padding-top: 16px;
}

@media only screen and (max-width: 600px) {
  .footer-links {
    display: none;
  }
}