html {
     font-family: Helvetica;
 }

 body {
     margin: 0px;
     display: flex;
     flex-direction: column;
     color: #4A4A4A;
 }

 a {
  color: #4A4A4A;
  text-decoration: none;
}

 
 
 
 /* Header */
  
  header {
    position: fixed;
    position: sticky;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    z-index: 2;
  }
  
  header .content {
    display: flex;
    align-items: center;
    padding: 0 24px 0 24px;
    height: 64px;
  }
  
  header .logo {
    flex: 1;
    font-size: 28px; 
  }
  
  header nav ul {
    display: flex;
  }
  
  nav li {
    padding-left: 16px;
  }
  
  nav a {
    vertical-align: bottom;
    line-height: 1.6;
    color: #4a4a4a;
    font-size: 20px;
    
  }
  ol, ul {
    list-style: none;
  }

  /* Join section*/
  #main {
      display: flex;
      top: 64px;
      background-color: #D8D8D8;
      width: 100%;
      align-items: center;
  }
  
.main-left {
  width: 60%;
}

  #main .image-container  {
      padding: 32px 24px 32px 24px;
      
  }

  #main .image-container img {
      max-width: 100%;
      max-height: 100%;
  }

  .header {
      justify-content: flex-start;
      align-items: center;
      width: 30%;
  }

  .header .title {
      font-weight: bold;
      font-size: 50px;
  }

  .header .lorem {
    font-size: 24px;
  }

  .header .button {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding: 8px 0 8px 0;
  }

   /* Info section*/

   #info {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
   }

   

   .quote-container {
     width: 60%;
     border-right: 3px #CDCDCD;
     display: flex;
     flex-direction: column;
   }

   .quote-container .image-container {
    padding: 32px 24px;
   }

   .quote-container img {
    max-width: 100%;
    max-height: 100%;
   }

   .bottom {
    padding: 0 24px 32px 24px;
   }

   p.title {
     font-weight: 900;
     font-size: 42px;
     margin: 0px;
   }

   p.quote {
    line-height: 1.6;
   }

   p.author {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 14px;
   }

   a p.author {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   }
/*right side of INFO*/

   .info-list {
     display: flex;
     flex-direction: column;
     width: 40%;
     padding-top: 34px;
     border-left: 1px #4A4A4A;
     justify-content: space-between;
   }

   .info-content {
     width: 65%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 16px;
     
   }

   .info-orientation {
     display: flex;
     justify-content: flex-start;
   }


   .info-guest {
    display: flex;
    justify-content: flex-start;
    background-color: #c6c1c1;
   }

   .orientation-img {
     width: 35%;
     padding: 16px;
   }

   .orientation-img img {
    max-width:100%;
    max-height: auto;
   }

   .info-content a  {
     color: blue;
   }

 /*Courses section*/

 #course {
   width: 100%;
   background-color: #EAEBEC;
 }

 #course h2  {
   text-align: center;
   font-weight: 900;
 }

.all-course-container {
  margin: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.course-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 24px;
  width: 30%;
}

.course-content {
  padding: 16px;
  text-align: left;
}

.course-container img {
  max-width: 100%;
  max-height: 100%;
}

p.top {
  font-weight: bold;
  font-size: 32px;
}

p.middle {

}

p.bottom {
padding: 0%;
}

/*VIDEO SECTION*/

#video {
  background-color: #F3F5F5;
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  font-weight: 900;
}


.video-left {
  width: 60%;
  margin-left: 70px;
  
}

.top-container {
  width: 100%;
}

video {
  max-width: 100%;
  max-height: 100%;
}

.video-info-list {
    display: flex;
     flex-direction: column;
     width: 40%;
     padding-top: 34px;

}



