

  
  
 html {
     font-family: Helvetica;
 }
 
 
 /* Header */
  
  header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    z-index: 2;
  }
  
  header .content {
    display: flex;
    align-items: center;
    padding: 0 24px 0 24px;
    height: 64px;
  }
  
  header .logo {
    flex: 1;
    font-size: 28px; /*specs values looks different, so I used my own ones*/
  }
  
  header nav ul {
    display: flex;
  }
  
  nav li {
    padding-left: 16px;
  }
  
  nav a {
    vertical-align: bottom;
    line-height: 1.6;
    color: #4a4a4a;
  }
  ol, ul {
    list-style: none;
  }

  a {
    color: #4A4A4A;
    text-decoration: none;
    font-size: 20px;
  }
  
  